body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    width:50%; 
    margin-left: auto; 
    margin-right: auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 50px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.Calculator-box {
    background-color: green;
    border-color: indigo;
}

*.Fieldset {
    text-align: center;
    width:20%; 
    margin-top: 50px;
    margin-bottom: 50;
    margin-left: auto; 
    margin-right: auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 50px;
  }